<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>info_best_for</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Playfair+Display:wght@400;500;600&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Italianno&display=swap" rel="stylesheet" />
    <link href="./css/ol.css" rel="stylesheet" />
    <title>info_best_for</title>
</head>

<body  style="background-color:bisque;">
    <div class="container-fluid position-relative p-0">
        <nav class="navbar navbar-expand-lg navbar-light bg-white px-4 px-lg-5 py-3 py-lg-0">
            <a href="index.html" class="navbar-brand p-0">
                <!-- <i class="fas fa-star-of-life me-3"></i> -->
                <h1 class="text-primary m-0">
                    <font size="45" color="red" face="itallianco">
                        <b><i>Loza</i></b>
                    </font>
                </h1>
                <!-- <img src="img/logo.png" alt="Logo"> -->
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0">
            <!-- <a href="index.html" class="nav-item nav-link active">Home</a> -->
            <a href="index.html" class="nav-item nav-link">
                <font color="black" face="itallianco">
                    <b><i>Home</i></b>
                </font>
            </a>
                    <!-- <a href="about.html" class="nav-item nav-link">About</a> -->
            <a href="about.html" class="nav-item nav-link">
                <font color="black" face="itallianco">
                    <b><i>About</i></b>
                        </font>
            </a>

            <a href="service.html" class="nav-item nav-link">
                <font color="black" face="itallianco">
                    <b><i>Quizzes</i></b>
                </font>
            </a>
                    <!-- <a href="service.html" class="nav-item nav-link">квіз</a> -->
            </div>
                <a href="service.html" class="btn btn-primary rounded-pill text-white py-1 px-6 flex-wrap flex-sm-shrink-0">логін</a>
            </div>
        </nav>

        <div class="v49_517">
            <img src="img/v49_517.png" alt="v49_517">
        </div>

        <div class="v49_518">
            <img src="img/v49_518.png" alt="v49_518">
        </div>

        <span class="v49_519">
            <!-- Discover wine etiquette -->
            <a href="glass.html" class="navbar-brand p-0">
                <!-- <i class="fas fa-star-of-life me-3"></i> -->
                <h1 class="text-primary m-0">
                    <font size="64" color="black" face="open Sans">
                        <b><i>Discover wine etiquette</i></b>
                    </font>
                </h1>
                <!-- <img src="img/logo.png" alt="Logo"> -->
            </a>
        </span>

        <span class="v49_520">
            Обирати бокали для червоних вин з Бургундії чи Бордо, чим обмежитися у випадку з білими сухими, чи обирати для ігристих широку чашу по формі грудей Марії-Антуанетти?</span>
        <span class="v52_525">
            Поєднання їжі з напоями здається нам зовсім легкою справою, але це тільки на перший погляд. Адже головне завдання закусок – доповнювати смак вина, але ніяк не перебивати його.
        </span>

        <span class="v49_521">
            <a href="snacks.html" class="navbar-brand p-0">
                <!-- <i class="fas fa-star-of-life me-3"></i> -->
                <h1 class="text-primary m-0">
                    <font size="64" color="black" face="open Sans">
                        <b><i>Reveal Snack Matches</i></b>
                    </font>
                </h1>
                <!-- <img src="img/logo.png" alt="Logo"> -->
            </a>
        </span>
    </div>
</body>
</html>

